
<!--header start-->
<header id="masthead" class="header ttm-header-style-02">
    <!-- fbar-main -->
    <div class="fbar-main">
        <div class="fbar-main-inner">
            <div class="fbar-btn"><a href=""><i class="ti ti-menu"></i></a></div>
            <!-- fbar-contents -->
            <div class="fbar-contents">
                <div class="container">
                    <div id="floatingbar-widgets" class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 widget-area">
                            <aside class="widget widget_text enhanced-text-widget">
                                <h3 class="widget-title mb-15">National Institute of Technology   <strong class="ttm-textcolor-skincolor">Hamirpur</strong></h3>
                                <p>To build a vibrant multicultural learning environment founded on value based academic principles, where in all involved shall contribute effectively, efficiently and responsibly to the national and global community.</p>
                                <div class="d-flex align-items-center pt-10">
                                    <ul class="ttm-list ttm-list-style-icon ttm-textcolor-darkgrey pr-20">
                                        <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">Planning & Works</span></li>

                                    </ul>
                                    <ul class="ttm-list ttm-list-style-icon ttm-textcolor-darkgrey pr-20">

                                        <li><i class="ttm-textcolor-skincolor fa fa-check"></i><span class="ttm-list-li-content">Tenders</span></li>
                                    </ul>
                                </div><br>
                                <div class="ttm-highlight-div ttm-bgcolor-skincolor">
                                    <h5><i class="fa fa-phone"></i> Registrar Office: 01972 254010</h5>
                                </div>
                            </aside>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 widget-area">
                            <div class="widget widget_timing clearfix">
                                <h3 class="widget-title">Opening Hours</h3>
                                <div class="ttm-timelist-block-wrapper">
                                    <ul class="ttm-timelist-block ttm-textcolor-darkgrey pr-15">
                                        <li>Monday<span class="service-time">09am - 05pm</span></li>
                                        <li>Tuesday<span class="service-time">09am - 05pm</span></li>
                                        <li>Wednesday<span class="service-time">09am - 05pm</span></li>
                                        <li>Thrusday<span class="service-time">09am - 05pm</span></li>
                                        <li>Friday<span class="service-time">09am - 05pm</span></li>
                                        <li>Saturday-Sunday<span class="service-time">Closed</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 widget-area">
                            <aside class="widget widget_text enhanced-text-widget">
                                <h3 class="widget-title"> Want to talk? Let`s do it!</h3>
                                <div role="form" class="wpcf7" id="wpcf7-f3264-o2" lang="en-US" dir="ltr">
                                    <form action="" method="post" class="wpcf7-form" novalidate="novalidate">
                                        <div class="ttm-commonform ttm-floatingbar-form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <i class="ti-user"></i>
                                                        <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Your Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <i class="ti-email"></i>
                                                        <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email" aria-required="true" aria-invalid="false" placeholder="Your Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <i class="ti-mobile"></i>
                                                        <input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Your Phone">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <i class="ti-pencil"></i>
                                                        <input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Subject">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <i class="ti-comments"></i>
                                                        <textarea name="your-message" cols="40" rows="2" class="wpcf7-form-control wpcf7-textarea" aria-required="true" aria-invalid="false" placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="submit ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-dark mt-20" type="submit">Send A Request</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div><!-- fbar-contents end -->
        </div>
    </div><!-- fbar-main end -->
    <!-- top_bar -->
    <div class="top_bar ttm-bgcolor-darkgrey ttm-textcolor-white clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5">
                    <div class="ttm-bg ttm-col-bgcolor-yes ttm-left-span ttm-bgcolor-skincolor mr-20 res-1199-mr-0">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                        <div class="layer-content">Web Mail | Faculty Portfolio</div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 d-flex flex-row align-items-center">
                    <div class="top_bar_contact_item ml-auto">
                        <a href="">Intranet</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <a href="">eOffice</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <a href="">Directory</a>
                    </div>
                    <div class="top_bar_contact_item">
                        <div class="top_bar_social">
                            <ul class="social-icons">
                                <li><a class="tooltip-bottom" target="_blank" href="home-7.html" data-tooltip="Facebook" tabindex="-1"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="home-7.html" data-tooltip="Twitter" tabindex="-1"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="home-7.html" data-tooltip="Flickr" tabindex="-1"><i class="fa fa-flickr"></i></a>
                                </li>
                                <li><a class="tooltip-bottom" target="_blank" href="home-7.html" data-tooltip="Linkedin" tabindex="-1"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- top_bar end-->
    <!-- ttm-widget-header -->
    <div class="ttm-widget_header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex flex-row align-items-center">
                        <!-- site-branding -->
                        <div class="site-branding mr-auto">
                            <a class="home-link" href="index.html" title="Uniaro" rel="home">
                                <img id="logo-img" class="img-center" src="assets/images/logo.png" alt="logo-img">
                            </a>
                        </div><!-- site-branding end -->

                    </div>
                </div>
            </div>
        </div>
    </div><!-- ttm-widget-header end -->
    <!-- site-header-menu -->
    <div id="site-header-menu" class="site-header-menu ttm-bgcolor-grey">
        <div class="site-header-menu-inner ttm-stickable-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!--site-navigation -->
                        <div class="site-navigation d-flex flex-row">
                            <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                <span class="menubar-box">
                                    <span class="menubar-inner"></span>
                                </span>
                            </div>
                            <!-- menu -->
                            <nav class="main-menu menu-mobile" id="menu">
                                <ul class="menu">
                                    <!--                                                <li class="mega-menu-item active">
                                                                                        <a href="" class="mega-menu-link">Home</a>                                                   
                                                                                    </li>-->
                                    <li class="mega-menu-item megamenu-fw">
                                        <a href="" class="mega-menu-link">About NITH</a>
                                        <ul class="mega-submenu megamenu-content" role="menu">
                                            <li>
                                                <div class="row">
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 01</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="about-us.html">About Us</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 02</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="instructors.html">Our Instructors</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 03</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="shop.html">Shop</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>    
                                                </div><!-- end row -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-item megamenu-fw">
                                        <a href="" class="mega-menu-link">Authorities </a>
                                        <ul class="mega-submenu megamenu-content" role="menu">
                                            <li>
                                                <div class="row">
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 01</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="about-us.html">About Us</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 02</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="instructors.html">Our Instructors</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 03</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="shop.html">Shop</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>    
                                                </div><!-- end row -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-item megamenu-fw">
                                        <a href="" class="mega-menu-link">Administration  </a>
                                        <ul class="mega-submenu megamenu-content" role="menu">
                                            <li>
                                                <div class="row">
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 01</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="about-us.html">About Us</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 02</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="instructors.html">Our Instructors</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 03</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="shop.html">Shop</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>    
                                                </div><!-- end row -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-item megamenu-fw">
                                        <a href="" class="mega-menu-link">Departments   </a>
                                        <ul class="mega-submenu megamenu-content" role="menu">
                                            <li>
                                                <div class="row">
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 01</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="about-us.html">About Us</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 02</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="instructors.html">Our Instructors</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 03</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="shop.html">Shop</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>    
                                                </div><!-- end row -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-item megamenu-fw">
                                        <a href="" class="mega-menu-link">Academics    </a>
                                        <ul class="mega-submenu megamenu-content" role="menu">
                                            <li>
                                                <div class="row">
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 01</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="about-us.html">About Us</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 02</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="instructors.html">Our Instructors</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 03</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="shop.html">Shop</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>    
                                                </div><!-- end row -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-item megamenu-fw">
                                        <a href="" class="mega-menu-link">Student    </a>
                                        <ul class="mega-submenu megamenu-content" role="menu">
                                            <li>
                                                <div class="row">
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 01</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="about-us.html">About Us</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 02</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="instructors.html">Our Instructors</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 03</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="shop.html">Shop</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>    
                                                </div><!-- end row -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-item megamenu-fw">
                                        <a href="" class="mega-menu-link">Faculty </a>
                                        <ul class="mega-submenu megamenu-content" role="menu">
                                            <li>
                                                <div class="row">
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 01</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="about-us.html">About Us</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 02</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="instructors.html">Our Instructors</a></li>

                                                            </ul>
                                                        </div>
                                                    </div><!-- end col-3 -->
                                                    <div class="col-menu col-md-4">
                                                        <h6 class="title">Page List 03</h6>
                                                        <div class="content">
                                                            <ul class="menu-col">
                                                                <li><a href="shop.html">Shop</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>    
                                                </div><!-- end row -->
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="mega-menu-item">
                                        <a href="" class="mega-menu-link">Downloads </a>
                                        <ul class="mega-submenu">
                                            <li><a href="contact-us-1.html">Contact Us 1</a></li>
                                            <li><a href="contact-us-2.html">Contact Us 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header_extra d-flex flex-row align-items-center ml-auto">

                                <div class="header_btn">
                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor" href="">Request Info</a>
                                </div>
                            </div>
                        </div><!-- site-navigation end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- site-header-menu end-->
</header><!--header end-->
