	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/04/2019 06:06
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot@") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("https://themetechmount.com/html/uniaro/css/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-open-book-1:before { content: "\f100"; }
.flaticon-creative:before { content: "\f101"; }
.flaticon-open-book:before { content: "\f102"; }
.flaticon-resume:before { content: "\f103"; }
.flaticon-books-stack-of-three:before { content: "\f104"; }
.flaticon-education:before { content: "\f105"; }
.flaticon-classroom:before { content: "\f106"; }
.flaticon-diploma:before { content: "\f107"; }
.flaticon-mortarboard:before { content: "\f108"; }
.flaticon-university:before { content: "\f109"; }
.flaticon-book:before { content: "\f10a"; }
.flaticon-idea:before { content: "\f10b"; }
.flaticon-college-graduation:before { content: "\f10c"; }
.flaticon-checklist:before { content: "\f10d"; }
.flaticon-knowledge:before { content: "\f10e"; }
.flaticon-maternity:before { content: "\f10f"; }
.flaticon-together:before { content: "\f110"; }
.flaticon-meeting:before { content: "\f111"; }
.flaticon-study:before { content: "\f112"; }
.flaticon-timetable:before { content: "\f113"; }
.flaticon-thought:before { content: "\f114"; }
.flaticon-reading:before { content: "\f115"; }
.flaticon-flasks:before { content: "\f116"; }
.flaticon-work:before { content: "\f117"; }
.flaticon-instruction:before { content: "\f118"; }
.flaticon-presentation:before { content: "\f119"; }
.flaticon-file:before { content: "\f11a"; }
.flaticon-open-book-top-view:before { content: "\f11b"; }
.flaticon-books:before { content: "\f11c"; }
.flaticon-school:before { content: "\f11d"; }
.flaticon-tools-and-utensils:before { content: "\f11e"; }
.flaticon-school-1:before { content: "\f11f"; }
.flaticon-university-1:before { content: "\f120"; }
.flaticon-student:before { content: "\f121"; }
.flaticon-school-2:before { content: "\f122"; }
.flaticon-reader:before { content: "\f123"; }
.flaticon-book-1:before { content: "\f124"; }
.flaticon-school-3:before { content: "\f125"; }
.flaticon-school-4:before { content: "\f126"; }
.flaticon-pen:before { content: "\f127"; }
.flaticon-student-1:before { content: "\f128"; }
.flaticon-book-2:before { content: "\f129"; }
.flaticon-mortarboard-1:before { content: "\f12a"; }
.flaticon-test:before { content: "\f12b"; }
.flaticon-child:before { content: "\f12c"; }
.flaticon-girl:before { content: "\f12d"; }
.flaticon-teacher:before { content: "\f12e"; }
.flaticon-bus:before { content: "\f12f"; }
.flaticon-attachment:before { content: "\f130"; }
.flaticon-school-bus-front:before { content: "\f131"; }
.flaticon-notification:before { content: "\f132"; }
.flaticon-college:before { content: "\f133"; }
.flaticon-class-group:before { content: "\f134"; }
.flaticon-student-2:before { content: "\f135"; }
.flaticon-sharing:before { content: "\f136"; }
.flaticon-boy-and-girl-students:before { content: "\f137"; }
.flaticon-school-5:before { content: "\f138"; }
.flaticon-school-6:before { content: "\f139"; }