<div class="banner-slider slick_slider slick-arrows-style1" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows":true, "autoplay":true, "responsive": [{"breakpoint":870,"settings":{"slidesToShow": 1}} , {"breakpoint":525,"settings":{"slidesToShow": 1}}]}'>

    <!-- banner-slide -->
    <div class="banner-slide">
        <img class="img-fluid" src="assets/images/slides/banner2.jpg" alt="slider-image"/>

    </div>            
    <!-- banner-slide -->
    <!-- banner-slide -->
    <div class="banner-slide">
        <img class="img-fluid" src="assets/images/slides/banner2.jpg" alt="slider-image"/>

    </div>            
    <!-- banner-slide -->


</div>