

<section class="ttm-row about-section bg-img3 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title section-title title-style-center_text">

                    <div class="heading-seperator"><span></span></div>
                </div><!-- section title end -->
            </div>
            <div class="col-lg-3 col-md-10">
                <div class="pt-15">
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xl">
                                <i class="flaticon-diploma"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Research & Consultancy</h5>
                            </div>

                        </div>
                    </div>
                    <!-- featured-icon-box end -->
                    <div class="mtt-35 mbb-35">
                        <span class="ttm-horizontal_sep"></span>
                    </div>
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xl">
                                <i class="flaticon-idea"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Planning & Works</h5>
                            </div>

                        </div>
                    </div>
                    <!-- featured-icon-box end -->
                    <div class="mtt-35 mbb-35">
                        <span class="ttm-horizontal_sep"></span>
                    </div>
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content ">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xl">
                                <i class="flaticon-mortarboard"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Central Facilities & Cells</h5>
                            </div>

                        </div>
                    </div>
                    <!-- featured-icon-box end -->
                    <!-- featured-icon-box end -->
                    <div class="mtt-35 mbb-35">
                        <span class="ttm-horizontal_sep"></span>
                    </div>
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xl">
                                <i class="flaticon-idea"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Workshops & Conferences</h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-10">
                <div class="pt-15">
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xl">
                                <i class="flaticon-diploma"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Sections & Functionaries</h5>
                            </div>

                        </div>
                    </div>
                    <!-- featured-icon-box end -->
                    <div class="mtt-35 mbb-35">
                        <span class="ttm-horizontal_sep"></span>
                    </div>
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xl">
                                <i class="flaticon-idea"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Training & Placements</h5>
                            </div>

                        </div>
                    </div>
                    <!-- featured-icon-box end -->
                    <div class="mtt-35 mbb-35">
                        <span class="ttm-horizontal_sep"></span>
                    </div>
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content ">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xl">
                                <i class="flaticon-mortarboard"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Advertisement & Recruitments</h5>
                            </div>

                        </div>
                    </div>
                    <!-- featured-icon-box end -->
                    <!-- featured-icon-box end -->
                    <div class="mtt-35 mbb-35">
                        <span class="ttm-horizontal_sep"></span>
                    </div>
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xl">
                                <i class="flaticon-idea"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Tenders</h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="pt-15 pl-35 res-991-pl-0 res-991-pt-30">
                    <!-- featured-icon-box -->
                    <div class="featured-icon-box icon-align-before-content">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-border ttm-icon_element-style-round ttm-icon_element-color-skincolor ttm-icon_element-size-sm">
                                <i class="flaticon-idea"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-desc">
                                <p>National Institute of Technology Hamirpur</p>
                            </div>
                            <div class="featured-title">
                                <h5>Best Learning Institute</h5>
                            </div>
                        </div>
                    </div>
                    <!-- featured-icon-box end -->
                    <div class="mt-25 mb-15">
                        <h5 class="font-weight-normal">Message from the Director</h5>
                    </div>
                    <p>Greetings and a Warm Welcome to one and all for joining us at National Institute of Technology, Hamirpur, India. National Institute of Technology, Hamirpur, is one of the premier autonomous Institution of National Importance in Northern India under the act of Parliament-2007.</p>
                    <!--<p>Hamirpur does not have the typical Hilly & Chilly type of climate found in most of Himachal Pradesh, as it is done to the plains. During winter, the climate is cold but pleasant when woolens are required. During summer the maximum temperature is around 40 degree Celsius and cottons are recommended. It is a major junction on National Highway 3 While National Highway 103 starts from Here Bulk of the population at Hamirpur speaks Hindi, whereas a significant populace can speak and understand English as well. </p>-->
                    <div class="d-flex align-items-center pt-10">
                        <div class="pr-20">
                            <h5 class="font-weight-normal mb-0">Prof. Lalit Kumar Awasthi</h5>
                            <small>Director</small>
                        </div>
                        <img class="img-fluid lazyloaded" data-src="assets/images/author-sign-2.png" alt="ttm_single_image-wrapper" src="images/author-sign-2.png">
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>


<section class="ttm-row introduction-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <!-- section title -->
                <div class="section-title">
                    <div class="title-header">                               
                        <h2 class="title">Announcements</h2>
                    </div>
                    <div class="heading-seperator"><span></span></div>
                </div><!-- section title end -->
                <div class="row mt-35 mb-10 res-991-mb-0">
                    <div class="col-lg-12 col-md-5 col-sm-6">
                        <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor">
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Interview for the post of Project Associate under project titled "Portable Physiological Data Acquisition and Disease Diagnosis System" <img style="width: 30px;" src="assets/images/new.gif"></div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Auction Notice regarding standing green grass in the campus of National Institute of Technology, Hamirpur <img style="width: 30px;" src="assets/images/new.gif"></div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Notice regarding Scholarship</div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Guidelines for Conducting Supplementary Examination July-August 2021 <img style="width: 30px;" src="assets/images/new.gif"></div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Notice regarding change of branch (July 2021) and guidelines <img style="width: 30px;" src="assets/images/new.gif"></div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content"> Date Sheet for Supplementary Examination July-August 2021 <img style="width: 30px;" src="assets/images/new.gif"></div></li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="col-lg-6 col-md-10">
                <div class="section-title">
                    <div class="title-header">                               
                        <h2 class="title">Admissions</h2>
                    </div>
                    <div class="heading-seperator"><span></span></div>
                </div><!-- section title end -->
                <div class="row mt-35 mb-10 res-991-mb-0">
                    <div class="col-lg-12 col-md-5 col-sm-6">
                        <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor">
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content"> List of Eligible and Ineligible candidates for second round MBA Admission 2021-22 <img style="width: 30px;" src="assets/images/new.gif"></div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content"> Second Round Admission to MBA Programme for the Academic Session 2021-22 <img style="width: 30px;" src="assets/images/new.gif"></div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">MBA Admission 2021-22 <img style="width: 30px;" src="assets/images/new.gif"></div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">"CCMT-CCMN-CSAB-DASA Promotions" </div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">"CCMT-2021" </div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">CCMN-2021</div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Application Portal for admission to Masters and PhD degree programs under QIP and details of the admission process </div></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div><!-- row end -->

        <div class="row mt-33">
            <div class="col-lg-6 col-xs-12">
                <!-- section title -->
                <div class="section-title">
                    <div class="title-header">                               
                        <h2 class="title">Achievements</h2>
                    </div>
                    <div class="heading-seperator"><span></span></div>
                </div><!-- section title end -->
                <div class="row mt-35 mb-10 res-991-mb-0">
                    <div class="col-lg-12 col-md-5 col-sm-6">
                        <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor">
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Prof. Lalit Kumar Awasthi, Director NIT Hamirpur, congratulates Rajat Anant, 2021 pass out student of DoEED, NIT Hamirpur for his invention of semi-automated trolley for changing oxygen cylinder at hospitals <img style="width: 30px;" src="assets/images/new.gif"></div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Prof. Lalit Kumar Awasthi, Director NIT Hamirpur congratulates to Faculty, Staff & Students of NIT Hamirpur for achieving excellent rating at Careers360's "India's Best Engineering Colleges Ranking-2021" <img style="width: 30px;" src="assets/images/new.gif"></div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Prof. Lalit Kumar Awasthi, Director NIT Hamirpur congratulates to Faculty, Staff & Students of NIT Hamirpur for achieving 18th Rank in India Today-MDRA Best Engineering (Govt.) Colleges Ranking 2021</div></li>
                        </ul>
                    </div>

                </div>

            </div>

            <div class="col-lg-6 col-md-10">
                <div class="section-title">
                    <div class="title-header">                               
                        <h2 class="title">Upcoming Events</h2>
                    </div>
                    <div class="heading-seperator"><span></span></div>
                </div><!-- section title end -->
                <div class="row mt-35 mb-10 res-991-mb-0">
                    <div class="col-lg-12 col-md-5 col-sm-6">
                        <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor">
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">e- Workshop on "Case Study as a Pedagogical Tool for Teaching in Management" in the Department of Management Studies NIT Hamirpur (HP) from 2nd - 6th August 2021</div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Registration link for e- Workshop on "Case Study as a Pedagogical Tool for Teaching in Management" in the Department of Management Studies NIT Hamirpur (HP) from 2nd - 6th August 2021</div></li>
                            <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content">Registration link for e-STC On "Recent Advancement in Microwave Filters and Antennas: Design, Techniques and Applications" , 23rd - 27th July 2021.</div></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>


<section class="element-row element-style">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title clearfix">
                    <h2 class="title">NITH Portfolio/ Gallery</h2>
                    <h5 class="title"></h5>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row slick_slider slick-initialized slick-slider" data-slick="{&quot;slidesToShow&quot;: 3, &quot;slidesToScroll&quot;: 3, &quot;arrows&quot;:false, &quot;autoplay&quot;:true, &quot;infinite&quot;:true}">
            <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4560px; transform: translate3d(-3420px, 0px, 0px); transition: transform 1000ms ease 0s;" role="listbox"><div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 classes study slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 380px;" tabindex="-1">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="element.html#" tabindex="-1"> <img class="img-fluid" src="assets/images/portfolio/04.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="classes / study" data-rel="prettyPhoto" href="assets/images/portfolio/04.jpg" tabindex="-1">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div><!-- ttm-box-view-overlay end-->
                        </div><!-- featured-imagebox -->
                    </div><div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 campus slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 380px;" tabindex="-1">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="element.html#" tabindex="-1"> <img class="img-fluid" src="assets/images/portfolio/05.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="campus" data-rel="prettyPhoto" href="assets/images/portfolio/05.jpg" tabindex="-1">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div><!-- ttm-box-view-overlay end-->
                        </div><!-- featured-imagebox -->
                    </div><div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 classes slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 380px;" tabindex="-1">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay"><!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="element.html#" tabindex="-1"> <img class="img-fluid" src="assets/images/portfolio/06.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end -->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="classes" data-rel="prettyPhoto" href="assets/images/portfolio/06.jpg" tabindex="-1">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div><!-- ttm-box-view-overlay end-->
                        </div><!-- featured-imagebox -->
                    </div><div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 campus slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 380px;" tabindex="-1" role="option" aria-describedby="slick-slide10">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="element.html#" tabindex="-1"> <img class="img-fluid" src="assets/images/portfolio/01.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="campus" data-rel="prettyPhoto" href="assets/images/portfolio/01.jpg" tabindex="-1">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div><!-- ttm-box-view-overlay end-->
                        </div><!-- featured-imagebox -->
                    </div><div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 campus study slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 380px;" tabindex="-1" role="option" aria-describedby="slick-slide11">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="element.html#" tabindex="-1"> <img class="img-fluid" src="assets/images/portfolio/02.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="campus / study" data-rel="prettyPhoto" href="assets/images/portfolio/02.jpg" tabindex="-1">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div><!-- ttm-box-view-overlay end-->
                        </div><!-- featured-imagebox -->
                    </div><div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 classes library study slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 380px;" tabindex="-1" role="option" aria-describedby="slick-slide12">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="element.html#" tabindex="-1"> <img class="img-fluid" src="assets/images/portfolio/03.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title=" classes / library / study" data-rel="prettyPhoto" href="assets/images/portfolio/03.jpg" tabindex="-1">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div><!-- ttm-box-view-overlay end-->
                        </div><!-- featured-imagebox -->
                    </div><div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 classes study slick-slide" data-slick-index="3" aria-hidden="true" style="width: 380px;" tabindex="-1" role="option" aria-describedby="slick-slide13">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="element.html#" tabindex="0"> <img class="img-fluid" src="assets/images/portfolio/04.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="classes / study" data-rel="prettyPhoto" href="assets/images/portfolio/04.jpg" tabindex="0">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div><!-- ttm-box-view-overlay end-->
                        </div><!-- featured-imagebox -->
                    </div><div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 campus slick-slide" data-slick-index="4" aria-hidden="true" style="width: 380px;" tabindex="-1" role="option" aria-describedby="slick-slide14">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="element.html#" tabindex="0"> <img class="img-fluid" src="assets/images/portfolio/05.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="campus" data-rel="prettyPhoto" href="assets/images/portfolio/05.jpg" tabindex="0">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div><!-- ttm-box-view-overlay end-->
                        </div><!-- featured-imagebox -->
                    </div><div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 classes slick-slide" data-slick-index="5" aria-hidden="true" style="width: 380px;" tabindex="-1" role="option" aria-describedby="slick-slide15">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay"><!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="element.html#" tabindex="0"> <img class="img-fluid" src="assets/images/portfolio/06.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end -->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="classes" data-rel="prettyPhoto" href="assets/images/portfolio/06.jpg" tabindex="0">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div><!-- ttm-box-view-overlay end-->
                        </div><!-- featured-imagebox -->
                    </div><div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 campus slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" style="width: 380px;" tabindex="-1">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="element.html#" tabindex="-1"> <img class="img-fluid" src="assets/images/portfolio/01.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="campus" data-rel="prettyPhoto" href="assets/images/portfolio/01.jpg" tabindex="-1">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div><!-- ttm-box-view-overlay end-->
                        </div><!-- featured-imagebox -->
                    </div><div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 campus study slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" style="width: 380px;" tabindex="-1">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="element.html#" tabindex="-1"> <img class="img-fluid" src="assets/images/portfolio/02.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title="campus / study" data-rel="prettyPhoto" href="assets/images/portfolio/02.jpg" tabindex="-1">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div><!-- ttm-box-view-overlay end-->
                        </div><!-- featured-imagebox -->
                    </div><div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 classes library study slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" style="width: 380px;" tabindex="-1">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio">
                            <!-- ttm-box-view-overlay -->
                            <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="element.html#" tabindex="-1"> <img class="img-fluid" src="assets/images/portfolio/03.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <div class="featured-iconbox ttm-media-link">
                                    <a class="ttm_prettyphoto ttm_image" title=" classes / library / study" data-rel="prettyPhoto" href="assets/images/portfolio/03.jpg" tabindex="-1">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div><!-- ttm-box-view-overlay end-->
                        </div><!-- featured-imagebox -->
                    </div></div></div>





        </div>
    </div>
</section>

<section class="element-row element-style">

    <div class="ttm-bgcolor-grey clearfix">
        <div class="container">
            <!-- row -->
            <div class="row ttm-vertical_sep slick_slider slick-initialized slick-slider" data-slick="{&quot;slidesToShow&quot;: 6, &quot;slidesToScroll&quot;: 1, &quot;arrows&quot;:false, &quot;autoplay&quot;:true, &quot;infinite&quot;:true, &quot;responsive&quot;: [{&quot;breakpoint&quot;:1199,&quot;settings&quot;:{&quot;slidesToShow&quot;: 5}} , {&quot;breakpoint&quot;:800,&quot;settings&quot;:{&quot;slidesToShow&quot;: 3}}, {&quot;breakpoint&quot;:430,&quot;settings&quot;:{&quot;slidesToShow&quot;: 2}}]}">
                <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 3610px; transform: translate3d(-1520px, 0px, 0px);" role="listbox"><div class="col slick-slide slick-cloned" data-slick-index="-6" aria-hidden="true" style="width: 190px;" tabindex="-1">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-02">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-02.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" style="width: 190px;" tabindex="-1">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-03">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-03.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 190px;" tabindex="-1">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-04">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-04.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 190px;" tabindex="-1">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-05">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-01.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 190px;" tabindex="-1">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-06">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-02.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 190px;" tabindex="-1">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-07">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-03.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div><div class="col slick-slide" data-slick-index="0" aria-hidden="true" style="width: 190px;" tabindex="-1" role="option" aria-describedby="slick-slide00">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-01">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-01.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide" data-slick-index="1" aria-hidden="true" style="width: 190px;" tabindex="-1" role="option" aria-describedby="slick-slide01">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-02">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-02.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" style="width: 190px;" tabindex="-1" role="option" aria-describedby="slick-slide02">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-03">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-03.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 190px;" tabindex="-1" role="option" aria-describedby="slick-slide03">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-04">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-04.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 190px;" tabindex="-1" role="option" aria-describedby="slick-slide04">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-05">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-01.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-active" data-slick-index="5" aria-hidden="false" style="width: 190px;" tabindex="-1" role="option" aria-describedby="slick-slide05">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-06">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-02.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-active" data-slick-index="6" aria-hidden="false" style="width: 190px;" tabindex="-1" role="option" aria-describedby="slick-slide06">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-07">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-03.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div><div class="col slick-slide slick-cloned slick-active" data-slick-index="7" aria-hidden="false" style="width: 190px;" tabindex="-1">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-01">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-01.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" style="width: 190px;" tabindex="-1">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-02">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-02.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" style="width: 190px;" tabindex="-1">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-03">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-03.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 190px;" tabindex="-1">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-04">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-04.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 190px;" tabindex="-1">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-05">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-01.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" style="width: 190px;" tabindex="-1">
                            <div class="client-box">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-06">
                                    <div class="ttm-client-logo-tooltip-inner">
                                        <div class="client-thumbnail">
                                            <img src="assets/images/client/client-02.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div></div>






            </div><!-- row end -->
        </div>
    </div>
    <div class="sep_holder_box width-100">
        <span class="sep_holder"><span class="sep_line"></span></span>
    </div>
</section>



